extends layout

block vars
  - var description = "Jeu reprenant le concept de simon says pour un projet étudiant"
  - var title = "Batterycheck"

block content
  main.round
    .question
      p#simonSaysText
    .uiPlayer
      p Vies restantes : 
        span#livesCount
      p Score actuel : 
        span#scoreDisplay
    p#result
  script(type="module").
    import { countdown, updateLives, updateScore } from '/src/utils.js';
    countdown();
