doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="icon" type="image/png" href="/favicon72x72.png")
    meta(name="theme-color" content="#D39ED5")
    title= title
    link(rel="stylesheet" type="text/css" href="/src/styles/styles.scss")
    script(src="/src/utils.js" defer type="module")
  body(class="soloGame")
    header
      div#countdown
    block content
