.gameOver__header{
    gap:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    height: 95dvh;
    width: 100%;
}
@media only screen and (orientation: portrait) {

    .gameOver {
      background-image: url(./../img/gameOverHorizontal.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-color: var(--main-color) ;
    }
    /* Ajoutez ici d'autres styles */
  }
  @media only screen  and (orientation: landscape) {
  
    .gameOver {
      background-image: url(./../img/gameOverHorizontal.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
    
  }