
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 100%;
  position: relative;
}


header {
  display: flex;
  justify-content: center;
  position: fixed;
  
  z-index: 10000;
  inset: 0;
  width: 1200px;
  height: 10dvh;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  border: 3px solid var(--bg-2nd-color);
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
}
.iconDiv {
  text-decoration: none;
  color: white;
  height: 36px;
  width: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
  padding: 4px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}
.iconSVG {
  height: 36px;
  aspect-ratio: 1 / 1;
}
.iconDiv:hover,
.iconDiv:focus-visible {
  width: 142px;
  background-color: var(--bg-2nd-color);
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}
.iconDiv:focus-visible {
  outline: 1px solid var(--bg-2nd-color);
  outline-offset: 4px;
}
.iconDiv:active {
  opacity: 0.9;
}
.iconDiv::after {
  content: attr(tooltip);
  margin-left: 12px;
  animation: fadeIn 600ms linear forwards;
}
.spacer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider {
  height: 36px;
  width: 1px;
  margin: 24px 18px;
  background-color: var(--action-color);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Language select{
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: var(--font-color);
  background-color: var(--bg-2nd-color);
  border: none;
  border-radius: 0.2rem;
}
h1{
  font-size: 2rem;
  text-transform: uppercase;
}  