@media only screen and (orientation: portrait) {

  .mainMenu {
    background-image: url(./../img/MainMenuVertical.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  /* Ajoutez ici d'autres styles */
}
@media only screen  and (orientation: landscape) {

  .mainMenu {
    background-image: url(./../img/MenuMainHorizontal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
}
.mainMenu__header{
  gap:0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  height: 95dvh;
  width: 100%;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--black);
  font-family: var(--text-police);
  background-color: var(--cta-color);
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  position: relative;
  // background-color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.63));
}
nav{
  width: 100%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  gap: 0.8rem;
  height: 200px;
}

.instructions {
  text-align: center;
  margin-top: 10px;
}

#installButton {
  width: 200px;
  height: 50px;
  background: none;
  border: none;
  color: var(--black);
  font-family: var(--text-police);
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: var(--cta-color);
  font-size: 1rem;
  border-radius: 1rem;
  filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.63));
}

