.btn {
    border: none;
    text-align:center;
    cursor: pointer;
    padding: 25px 80px;
    margin: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    color: var(--main-color);
    background-color:var(--true-color);
    border: solid 1px transparent;
    border-radius:10px;
    -webkit-font-smoothing: antialiased;
  }
  
  .nav {
    position:relative;
    width:350px;
    margin:auto;
    overflow:hidden;
    background-color:var(--main-color);
    height:90%;
    border-radius: 3%;
  }
  
  .instructions {
    text-align:center;
    margin-top:10px;
    
  }
  nav {
    height:100%;
  }