.soloGame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95dvh;
}
.round{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap:0.8rem 
}
#countdown{
    font-family: var(--title-police);
    font-size: 6rem;
    color: var(--cta-color);
    filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.63));
}

// Radio input //

input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 13.33333px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 40px;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
      }
      input[type="radio"]:hover {
        background: #9faab7;
      }
      input[type="radio"]:checked {
        background: var(--second-color);
      }
      input[type="radio"]:checked::before {
        width: 40px;
        height: 40px;
        display:flex;
        font-size: 25px;
        font-weight:bold;
        position: absolute;
        align-items:center;
        justify-content:center;
      }
      input[type="radio"]:checked::after {
        width: 40px;
        height: 40px;
        display:flex;
        content: '\f00c';
        font-size: 25px;
        font-weight:bold;
        position: absolute;
        align-items:center;
        justify-content:center;
        font-family:'Font Awesome 5 Free';
      }
      input[type="radio"] {
        border-radius: 50%;
      }
      input[type="radio"]::after {
        border-radius: 50%;
      }

label{
    font-size: 1.5rem;
}
input{
    font-family: var(--text-police);
    text-align: center;
    margin-bottom: 8px;
}
#word1, #vibrationNumber{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5); /* Fond transparent */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    height: 3rem;
    font-size: 2rem;
    width: 200px;
    font-family: var(--text-police);
}
#question{
    font-size: 2rem;
}
#wordCheck{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
// Chifoumi //
.box{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
   gap: 0.8rem;
}
@media only screen and (orientation: portrait) {

    .soloGame {
      background-image: url(./../img/sologameVertical.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-color: var(--main-color) ;
    }
    /* Ajoutez ici d'autres styles */
  }
  @media only screen  and (orientation: landscape) {
  
    .soloGame {
      background-image: url(./../img/sologameHorizontal.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
    
  }