:root {
  --main-color: #D39ED5;
  --second-color: #FF9FB6;
  --false-color: #f75590;
  --true-color: #D9D9D9;
  --cta-color: #FFD7B1;
  --white: #fff;
  --black: #1e1e24;
  --title-police: "Comico-Regular";
  --text-police: "Indie Flower";
}
@import "vendors/reset.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "mainMenu.scss";
@import "game.scss";

@font-face {
  font-family: "Comico-Regular";
  src: url("./fonts/Comico-Regular.woff2") format("woff2"),
    url("./fonts/Comico-Regular.woff") format("woff"),
    url("./fonts/Comico-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Synonym-Extralight";
  src: url("./fonts/Synonym-Extralight.woff2") format("woff2"),
    url("./fonts/Synonym-Extralight.woff") format("woff"),
    url("./fonts/Synonym-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Synonym-Light";
  src: url("./fonts/Synonym-Light.woff2") format("woff2"),
    url("./fonts/Synonym-Light.woff") format("woff"),
    url("./fonts/Synonym-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Synonym-Regular";
  src: url("./fonts/Synonym-Regular.woff2") format("woff2"),
    url("./fonts/Synonym-Regular.woff") format("woff"),
    url("./fonts/Synonym-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Synonym-Medium";
  src: url("./fonts/Synonym-Medium.woff2") format("woff2"),
    url("./fonts/Synonym-Medium.woff") format("woff"),
    url("./fonts/Synonym-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Synonym-Semibold";
  src: url("./fonts/Synonym-Semibold.woff2") format("woff2"),
    url("./fonts/Synonym-Semibold.woff") format("woff"),
    url("./fonts/Synonym-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Synonym-Bold";
  src: url("./fonts/Synonym-Bold.woff2") format("woff2"),
    url("./fonts/Synonym-Bold.woff") format("woff"),
    url("./fonts/Synonym-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("./fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--second-color);
  color: var(--main-color);
}
img {
  max-width: 100%;
}
h1 {
  font-family: var(--title-police);
  font-size: 5rem;
  color: var(--cta-color);
  filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.63));
}
h2 {
  color: var(--cta-color);
  font-family: var(--title-police);
  font-size: 5rem;
  margin: 2rem;
  filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.63));
}
h3 {
  font-family: var(--text-police);
  font-size: 2rem;
}
h4 {
  font-family: var(--text-police);
}
p,
span {
  font-family: var(--text-police);
  font-size: 1.5rem;
}
li {
  font-family: var(--text-police);
}
a {
  font-family: var(--text-police);
  color: var(--link-color);
  }
.levelTest{
  color: var(--black);
  background-color: var(--cta-color);
  padding: 2rem;
  border-radius: 1rem;
  width: 220px;
  text-align: center;
}
.trainingMode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.levelWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2rem;
}
.levelTest:active {
  animation: bounce 0.3s;
}
@keyframes bounce {
  0% {
       transform: scale(1);
     }
     25% {
       transform: scale(0.95);
     }
     50% {
       transform: scale(1.1);
     }
     75% {
       transform: scale(0.98);
     }
     100% {
       transform: scale(1);
     }
}
// HOVER EFFECT
